[importlinter]
root_packages =
    lib

[importlinter:contract:mixin-independence]
name = Mixins must not import each other
type = independence
modules =
    lib.state
    lib.romm_client
    lib.steam_config
    lib.firmware
    lib.metadata
    lib.sgdb
    lib.downloads
    lib.sync
    lib.save_sync
